
.pad-40 {
  padding: 40px
}

.zero div{
  border: solid 1px #000;
}

.zero {
  background-color: #FFFF00;
}

.one {
  height: 175px;
  background-color: #0000FF;
}

.two {
  height: 75px;
  background-color: #008000;
}

.three, .four {
  height: 300px;
}

.three {
  background-color: #FF0000;
}

.four {
  background-color: #00FFFF;
}

.five {
  height: 200px;
  background-color: #FFA500;
}

.six {
  height: 65px;
  background-color: #000000;
  color: #fff;
}
